body {
    font-family: 'Times New Roman', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #2e3b4e;
}

.card {
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(201, 6, 6, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers all child elements horizontally */
    animation: slideIn 1s ease-out forwards;
}

@keyframes slideIn {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #cccccc;
    margin-bottom: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-img img {
    width: 100%;
    height: auto;
}

h1 {
    margin-bottom: 10px;
    color: #333;
}

p {
    margin: 5px 0;
    word-wrap: break-word;
    color: #555;
    text-align: center;
}

.interactive-elements {
    margin-top: 20px;
    width: 100%; /* Ensure the buttons and input fields span the entire width of the card */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.interactive-elements input[type="text"],
.interactive-elements button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 5px 0;
    width: 90%; /* Adjust to ensure proper spacing from the card's edge */
    box-sizing: border-box;
}

.interactive-elements button {
    background-color: #5a6b8c;
    color: white;
    cursor: pointer;
}

.interactive-elements button:hover {
    background-color: #7889a6;
}
